body {
    font-family: Arial, sans-serif;
    margin: 1px 0px 0px 1px;
}
/*SECTION 1**********************************************/
.section1{
    background: #04AADD;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #04AADD;
    color: white;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}
.div {
    padding: 9px 12px;
    position: relative;
    cursor: pointer;
}
.info {
    position: relative;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}
.info::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #3498db;
    transition: width 0.3s ease;
}
.info:hover {
    color: #0d0b0d;
}  
.info:hover::after {
    width: 100%;
}
.login {
    padding: 1px 19px;
    background: #005490;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login:hover{
    background-color: #ffffff; 
    color: #005490;
    border: 1px solid #0d0b0d;    
}
.part1{
    padding: 48px 0px 1px 84px;
    display: flex;
    color: white;
}
.hp1{
    font-family: "DM sans",sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 3rem;
    justify-content: center;
}
.vect,.img1{
    height: 31px;
    width: 160px;
}
.ps1{
    font-family:"DM sans",sans-serif;
    font-size: smaller;
    justify-content: center;
    line-height: 29px;
    color: white;
}
.b1 {
    background-color: inherit;
    border: 1px solid rgb(16, 16, 16);
    border-radius: 5px;
    color: rgb(57, 57, 57);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    transition: color 0.5s, background-color 0.5s;
    
 }
.b1:hover {
    background-color: rgba(153, 47, 153, 0.385);
    color: white;
}
.b1{
    height: 4rem;
  width: 10rem;
  cursor: pointer;
  border-radius: 10px;
  color: #04AADD;
  font-weight: bold;
  background: white;
  border: none;
}
.b2{
  height: 4rem;
  width: 10rem;
  cursor: pointer;
  background:  #04AADD;
  border-radius: 0px;
  border:none;
  color: white;
  font-weight: bold;
}
.gauchee{
    width: 62rem;
  height: 32rem;
}
.img11{
    margin-left: 24rem;
}
.img2{
    width: 48rem;
  height: 49rem;
  margin-left: 227px;
  margin-top: -24rem;
}
/*SECTION 2**********************************************/
.header2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;
}
.div2{
    width: 140px;
    height: 40px; 
}
.imgp2{
    width: 140px;
    height: 40px;  
}
.parts2{
display: flex;
gap: 2rem;
}
.tele{
    width: 48rem;
    height: 37rem;
    margin-top: 8rem;
}
.pictele{
    margin: 4rem 0rem 0rem 11rem;   
}
.ALL{
    margin-top: 16rem;
}
.soustitre1{
    color: #005490;
    margin-top: 0rem;
}
.pp1{
 color: rgba(128, 128, 128, 0.736);
 font-size: smaller;
 line-height: 29.9px;
}
.pp2{
    color: #04AADD;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
}
/*SECTION 3**********************************************/
.section3{
    display: flex;
    justify-content: space-between;
}
.part1s3{
    margin: 1rem 1rem 1rem 5rem;
}
.hs3{
color: #034D82;
}
.pp3{
    color: #90A3B4;
    font-size: smaller;
    line-height: 25px;
}
.poi{
    color: #90A3B4;
    font-size: smaller;
    line-height: 30px;
}
.pp{
    color: #04AADD;
}
/*SECTION 4**********************************************/
.section4{
    text-align: center;
    height: 33rem;
    background: #6adcff40;
}
.headers4{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 2rem;
    text-align: center;
}
.hh4
{
    color: #034D82;
    font-size: 2rem;
  margin-bottom: 15px;
}
.pp4{
    font-size: 1.1rem;
    color: #8EA9C1;
}
.part2s4{
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
}
.div4{
    display: flex;
    flex-direction: column;
    height: 262px;
    width: 241px;
    background: rgb(255, 255, 255);
    border-radius: 1rem; 
}
.cap{
    
    height: 50px;
    width: 50px;
    margin: 36px 0rem 0rem -8rem;
    
}
.hh5{
    font-size: small;
    padding: 0rem 0rem 0rem 2rem;
    text-align: justify;
    color: #034D82;
}
.pp5{
    font-size: small;
    line-height: 22px;
    padding: 0rem 0rem 0rem 2rem;
    text-align: justify;
    color: #8EA9C1;
}
.grp2{
    margin-top: 1rem;
}
/*SECTION 5**********************************************/
.header5{
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
    margin: 9rem;}
.txt1
{
    color: #034D82;
}
.txt2{
    color: #90A3B4;
    line-height: 1rem;
}
.divs6{
    display: flex;
    gap: 1rem;
}
.point{
    font-size: 4rem;
    margin: 0 ;
}
.stars{
    font-size: 4rem;
}
.txxt{
    font-size: small;
    color: #90A3B4;
    line-height: 30px;
    font-style: italic;
}
.prof .profileimg{

    height: 3rem;
    width: 18rem;
}
.profile{
    display: flex;
    height: 6rem;
}
.fg{
    margin: -1rem 4rem 0rem -5rem;
}
.fd .fleche
{
    height: 9rem;
    width: 9rem;
    margin: -2rem 0rem 0rem 1rem;
}
.suiv{
    display: flex;
    gap: 5px;
}
.divs{
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: #034D82;
}
.divss{
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: #E2ECF4;
}
/*section 6***********************************************************/
.header6
{
    display: flex;
    align-items: center;
    background:#24CEED ;
    color: white;
    margin: 10rem 10rem 10rem 10rem ;
    border-radius: 1rem;
    height: 20rem;
}
.h{
    padding: 7rem 1rem 0rem 3rem;
}
.pa{
    padding: 0rem 0rem 0rem 3rem;
}
.prf{
    padding: 0rem 0rem 0rem 3rem;
}
.get{
    background-color: inherit;
  border:white;
  border-radius:5px;
  color: #00B8D9;
  cursor: pointer;
  padding:10px 20px;
  margin-right: 100px;
  transition:color 0.5s, background-color 0.5s;
  background-color: white;
  height: 4rem;
  width: 12rem;
}
.get:hover{
    background-color: rgba(153, 47, 153, 0.385);
    color: white;    
}
/*section 7*********************************************************/
.section7 {
    background: #081315;
    height: 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header7 {
    display: flex;
    justify-content: space-around;
    width: 100%;   
}
.icons {
    display: flex;
    gap: 4px;
}
.ico {
    height: 39px;
    width: 39px;
    border-radius: 100%;
    background: #3c3c3c49;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pl {
    color: rgba(255, 255, 255, 0.612);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 27px;
}
.pr {
    margin: 0;
    font-weight: bolder;
    color: #d3d6d8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    line-height: 1rem;
}
.p {
    color: #d3d6d8ca;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 35px;
}
/*section8**************************/
.section8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #081315; 
    color: white;
}
 
/* format iphone ********************************************/

@media screen and (max-width: 500px) {
.logo , .ehya {
    width: 3rem;
    height: 1rem;
}
.login  {
    font-size: 8px;
    font-weight: normal;
    padding:0px 9px 0px 9px;
}
.hp1 {
    font-size: 21px;
    text-align: start;
    }
.vect , .img1{
    height: 2rem;
    width: 8rem;
    margin: auto;
}
.ps, .pp1, .pp2, .pp3, .pp4 {
    font-size: 0.75rem;
    line-height: 22px;
}
.img11{
    margin-left: 0rem;
    width: 13rem;
    margin-top: 18rem;
}    
.img2 {
    width: 107%;
    height: auto;
    margin:-25rem -9rem -5rem 1px;
  }
.b1, .b2 {
    width: 93%;
    height: 3.6rem;
}
.div2, .imgp2{
    height: 0.9rem;
    width: 3rem;
}
.header2{
    margin: 0;
}
.tele , .pictele {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0rem;
}
.section2{
    height: 23rem;
}
.ALL {
    font-size: 64%;
    margin-bottom: auto;
}
.pp1{
    font-size: 73%;
}
.pp2{
        font-size: 95%;
}
.part1{
    align-items: center;
    padding:1rem;
    margin-top: -27px;
}
.parts2, .header2, .section3 {        
    align-items: center;    
    padding: 1rem;
}
.hs3 , .pp3 , .poi {
    font-size: x-small;
}
.hs3{
    font-size: 94%;
    width: 202%;
}
.pp3{
    font-size: 47%;
    width: 198%;
}
.part1s3{
    margin: 0;
}
.poi{
    width: 129%;
    font-size: 60%;
}
.pp{
    font-size: 67%;
}
.part2s3 , .mac{
    width: 85%;
    margin-top: 2rem;
}
.mc{
    width: 5%;
}
.pc{
    height: 140px;
  margin-top: 60px;
}
.pp{
    font-size: 59%;
}
.hh4{
    font-size: 117%;
}
.pp4{
    font-size: 66%;
}
.div4{
    width: 38%;
    height: auto;
}
.cap{
    margin:30px 0px 0px -5rem;
    width: 21%;
    height: 47%;
}
.pp5{
    font-size: 47%;
    text-align: start;
    padding:0px 0px 0px 9px;
}    
.hh5{
    padding: 0px 0px 0px 10px;
}
.gauche {
    width: 100%;
    height: auto;
    padding: 1rem;
}
.div {
    width: 1rem;
    height: 2rem;
}
.info{
    font-size: 69%;
    }
.header {       
    flex-direction: column;
    align-items: center;    
}
.divs5{
    width: 10%;
    height: 10%;   
}
.txt1{
    font-size: 10%;
    white-space: nowrap;
}
.txt2{
    font-size: 10%;       
}
.header5{
    margin: 0;
}
.divs6 {
   width: 54%;        
}
.divs5 {
    width: 69%;
    text-align: start;
    margin-left: 34%;
    height: 175%;          
}
.txt1 {
    font-size: 10px;
}      
.txt2 {
    font-size: 9px;
}
.point img {
    width: 16px;
    height: auto;
    margin-left: -7rem;
}
.stars img.str {
    width: 85px;
    height: auto;
    margin-left: -6rem;
}      
.txxt {
    font-size: 8px;
    line-height: 1.4;
    margin-left: -9rem;
}        
.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}        
.fg img {
    width: 6px;
    height: auto;
    margin-left: -22px;
}
.prof img.profileimg {
    width: 129px;
    height: 23px;
}
.fd{
    width: 12rem;
    height: 1rem;
}
.fd img.fleche{
    width: 68px;
    height: 76px; 
}
.pers img{
    width: 8px;
    height: auto;
    margin-left: -4rem;
}
.suiv {
    margin-left: -8rem;
}     
.divs, .divss {
    width: 3px;
    height: 3px;
}  
.header6 {
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    height: auto;
    text-align: center;
}
.divs6{
    width: 54%;
    align-content: center;
}
.gauchee{
    width: 100%;
    margin-left: 0px;
    margin-top: -29rem;
    
}  
.h {
    padding: 0rem 0;
    font-size: 1rem;
    line-height: 1.4;
}
.pa {
    padding: 0rem 0;
    font-size: 13px;
    color: white;
}   
.prf {
    width: 120px;  
    padding: 0.5rem 0;
    }
.get {
    height: 3rem;
    width: 9rem;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-left: 90px;
}
.section7 {
    padding: 1rem;
}
.header7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
.logoo {
    display: flex;
    justify-content: center;
    width: 100%;
}
.logoo1 {
    width: 80px;
    height: auto;
} 
.pl {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1rem;
}
.icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
}
.ico img {
    width: 25px; 
    height: auto;
}
.div8 {
    width: 100%;
    margin-top: 1.5rem;
}
.pr {
    font-size: 1.2rem;
    font-weight: bold;
     margin-bottom: 0.5rem;
}
.p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}   
.section7, .section8 {        
    height: auto;
    padding: 2rem;
}
.soustitre1 {
    margin-top: -16rem;
    text-align: center;
}
.section4 {
    height: 37rem;
}
.part2s4{
    flex-wrap: wrap;
    gap: 2rem;
}
.grp1{
    margin-right: 1%;
}
.grp2{
    margin-top: 0rem;
}
.fg{
    margin-left: -9rem;
}
}
/* format ipade**************************************************/

@media screen and (min-width: 501px) and (max-width: 1000px) {
.hp1 {
    font-size: 2.3rem;
    text-align: center;
}
.ps, .pp1, .pp2, .pp3, .pp4, .pp5 {
    font-size: 0.9rem;
    line-height: 25px;
    }
.img2 {
    width: 100%;
    height: auto;
    margin-left: 3rem;
}
.tele {
    width: 100%;
    height: auto;
}
.pictele {
    height: auto;
    width: 80%;
    margin: 2rem auto;
}
.soustitre1, .soustitre2, .soustitre3 {
    font-size: 1.1rem;
    text-align: center;
    }
.img1 {
    width: 80%;
    margin: 0 7rem;
} 
.b1{
    width: 9rem;
    height: 3.5rem;
    margin: 0.5rem auto;
}
.b2 {
    width: 9rem;
    height: 3.5rem;
    margin: 0.5rem auto;
}
.part1, .header5 {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.part2s3{
    width: 28%;
}
.mac{
    width: 123%;
    height: 56%;
    margin: 7rem 0rem 0rem -4rem;
}
.parts2{
    align-items: center;
}
.ALL{
    margin: -18rem 47px 0rem -13rem;
}
.gauche {
    width: 90%;
    height: auto;
    padding: 1rem;
    text-align: center;
}
.div4{
    width: 29%;    
}
.section4{
    height: 50rem;
}
.header6 {
    height: auto;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    flex-direction: column;
    text-align: center;
}
.header {
    flex-direction: column;
    align-items: center;
}
.part2s4 {
    flex-wrap: wrap;
    justify-content: center;
} 
.div4 {
    margin: 1rem;
}
.text{
    margin-top: 14rem;
    }
}


  


